<%= provide :title, t("admin.subjects.show_title") %>
<div class="header">
  <ul class="list-inline pull-right">
    <li>
      <%= link_to t("admin.subjects.edit_subject"),
        edit_admin_subject_path(@subject), class: "btn btn-primary" %>
    </li>
    <li>
      <%= link_to t("admin.subjects.delete_subject"), [:admin, @subject],
        method: :delete, data: {confirm: t("admin.subjects.delete_confirm")},
        class: "btn btn-danger" %>
    </li>
  </ul>
  <h1><%= @subject.name %></h1><hr>
</div>
<div class="row">
  <div>
    <div class="row">
      <p><%= @subject.instructions %></p>
    </div>
    <div class="row">
      <% @tasks.each do |task| %>
        <div class="col-sm-6 col-md-3 thumbnail text-center">
          <h4><%= task.name %></h4>
        </div>
      <% end %>
    </div>
  </div>
</div>
