<% user_subject = get_user_subject current_user, subject, course.id %>
<div class="masonry-item">
  <div class="panel panel-info">
    <div class="panel-heading">
      <%= render "shared/status_label",
        status: user_subject.status if user_subject %>
      <%= subject.name %>
    </div>
    <div class="panel-body">
      <%= subject.instructions %>
    </div>
    <div class="panel-footer">
      <% if user_subject %>
        <%= link_to course_subject_path(course, subject),
          class: "btn btn-primary" do %>
          <i class="glyphicon glyphicon-search"></i>
          <%= t "courses.btnView" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
