<%= provide :title, @course.name %>
<h1><%= @course.name %></h1>
<div class="panel panel-success">
  <div class="panel-heading">
  <%= render "shared/status_label", status: @course.status %>
  <p><%= t ".description" %></p>
  </div>
  <div class="panel-body">
    <div class="course_instruction">
      <%= @course.instructions %>
    </div>
  </div>
  <div class="panel-footer">
    <%= link_to "#", class: "btn btn-primary" do %>
      <i class="glyphicon glyphicon-user"></i>
      <%= @course.users.count %>
      <%= t "admin.courses.course_item.trainees" %>
    <% end %>
    <div class="pull-right">
      <span class="col-md-4 col-lg-4">
        <%= t ".start_at" %>
        <span class="label label-success">
          <%= @course.start_date %>
        </span>
      </span>
      <span class="col-md-4 col-lg-4">
        <%= t ".end_at" %>
        <span class="label label-danger">
          <%= @course.end_date %>
        </span>
      </span>
    </div>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <%= t ".subject_in_course" %>
  </div>
  <div class="panel-body">
    <div class="masonry">
      <%= render @subjects %>
    </div>
  </div>
</div>
<div class="panel panel-warning">
  <div class="panel-heading">
    <%= t "activity.title" %>
  </div>
  <div class="panel-body container">
    <% if @activities.any? %>
      <%= render @activities, object: @course %>
    <% else %>
      <%= t "activity.none" %>
    <% end %>
  </div>
</div>
