<table class="table table-hover table-bordered table-striped">
  <thead class="bg-primary">
    <tr>
      <th class="center"><%= t "admin.users.index.txt_index" %></th>
      <th class="center"><%= t "admin.users.index.txt_Name" %></th>
      <th class="center"><%= t "admin.users.index.txt_Email" %></th>
      <th class="center"><%= t "admin.users.index.txt_Role" %></th>
      <th class="center"><%= t "admin.users.index.txt_Created_At" %></th>
      <th class="center" colspan="2"><%= "Action" %> </th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "user_item", collection: @users, as: "user" %>
  </tbody>
</table>
