<div class="panel-header">
  <div class="label label-warning">
    <%= t ".export" %>
    <%= link_to t(".export_csv"), admin_users_path(format: "csv") %> |
    <%= link_to t(".export_xls"), admin_users_path(format: "xls") %>
  </div>
  <span class="pull-right">
    <% unless current_user.trainee? %>
      <%= link_to new_admin_user_path,
        class: "btn btn-success" do %>
        <i class="glyphicon glyphicon-new"></i>
        <%= t "admin.users.index.btn_New" %>
      <% end %>
    <% end %>
  </span>
</div>
<div id="list-users">
  <%= render "user_all" %>
  <%= will_paginate %>
</div>
<div id="myModal" class="modal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
      </div>
      <div class="modal-body">
        <div id="user-show"></div>
      </div>
      <div class="modal-footer">
        <a data-dismiss="modal" class="btn btn-success confirm">
          <%= t "btnOK" %>
        </a>
      </div>
    </div>
  </div>
</div>
