<div class="row header-course jumbotron">
  <h1 class="label-name"><%= @course.name %></h1>
  <div class="row">
    <div class="col-md-8">
      <% case @course.status %>
      <% when "open" %>
        <span class="label label-info">
      <% when "started" %>
        <span class="label label-success">
      <% when "finished" %>
        <span class="label label-danger">
      <% else %>
        <span class="label label-default">
      <% end %>
      <%= t "admin.courses.status.#{@course.status}" %></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="course_action_<%= @course.id %> col-md-8">
      <% case @course.status %>
      <% when "pending" %>
        <%= link_to t("admin.courses.course_item.start_course"), admin_course_path(@course),
          data: {
            confirm: t("admin.courses.course_item.confirm_start"),
            status: Settings.status.started_text
          },
          class: "btn btn-success" %>
      <% when "started" %>
        <%= link_to t("admin.courses.course_item.finish_course"), admin_course_path(@course),
          data: {
            confirm: t("admin.courses.course_item.confirm_finish"),
            status: Settings.status.finished_text
          },
          class: "btn btn-danger" %>
      <% when "finished" %>
          <%= button_tag t("admin.courses.course_item.inactive_course"),
            class: "btn btn-default disabled" %>
      <% end %>
    </div>
    <div class="edit-operation">
      <%= link_to t("admin.courses.edit"), edit_admin_course_path(@course),
        class: "btn btn-primary" %>
      <%= link_to t("admin.courses.delete"), admin_course_path(@course),
        class: "btn btn-danger",
        data: {confirm: t("admin.courses.confirm_delete")} %>
      <%= link_to t("admin.courses.assign_users"),
        admin_course_user_courses_path(@course), class: "btn btn-warning" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <h2 class="label-name">
        <%= t "admin.courses.description" %>
      </h2>
      <p><%= @course.instructions %></p>
    </div>
    <div class="row">
      <h2 class="label-name">
        <%= t "admin.courses.subject_info" %>
      </h2>
      <ul class="white-in">
        <% @course.course_subjects.each do |course_subject| %>
          <div class = "course-list">
            <%= render "shared/status_label",
              status: course_subject.status %>
            <h3><%= link_to course_subject.subject.name, [:admin, course_subject.subject] %></h3>
            <p><%= course_subject.subject.instructions %></p>
            <% if @course.started? %>
              <% case course_subject.status %>
              <% when Settings.status.pending_text %>
                <%= link_to t("admin.subjects.start"),
                  admin_course_subject_path(course_subject,
                  {course_subject: {status: Settings.status.started_text}}),
                  method: :put,
                  data: {confirm: t("admin.subjects.start_confirm")},
                  class: "btn btn-success" %>
              <% when Settings.status.started_text %>
                <%= link_to t("admin.subjects.finish"),
                  admin_course_subject_path(course_subject,
                  {course_subject: {status: Settings.status.finished_text}}),
                  method: :put,
                  data: {confirm: t("admin.subjects.finish_confirm")},
                  class: "btn btn-danger" %>
              <% when Settings.status.finished_text %>
                <%= link_to t("admin.subjects.finished"), "#",
                  class: "btn btn-sm btn-danger disabled" %>
              <% end %>
            <% else %>
              <%= link_to t("admin.labels.status.inactive_subject"), root_url,
                class: "btn btn-sm btn-danger disabled" %>
            <% end %>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <%= t "activity.title" %>
      </div>
      <div class="panel-body container">
        <% if @activities.any? %>
          <%= render partial: "activities/activity",
            collection: @activities, as: "activity" %>
        <% else %>
          <%= t "activity.none" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
